<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dias</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="usuario.getResult()">
    <h3>{{usuario.getResult()}}</h3>
  </div>
  <!-- <ion-text>
    Estimado {{usuario.getName()}} de Fecha de Nacimiento {{usuario.getUserBirthDate()}} has vivido {{usuario.getResult()}} dias.
  </ion-text> -->
  <div>
  <ion-button  [routerLink]="['/home']">
    Volver a home 
  </ion-button>
  </div>
</ion-content>
