<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <h1></h1>
    <div>
      <ion-text>
        Ingresa Nombre
      </ion-text>
      <ion-input [(ngModel)]="userName" (keyup)="setUsuarioName($event)" placeholder="user name">
      </ion-input>
      <ion-text>
        Ingresa tu fecha de Nacimiento (dd/mm/yyyy) 
      </ion-text>
      <ion-input [(ngModel)]="userBirthDate" (keyup)="setUsuarioBirthDate($event)" placeholder="birthDate">

      </ion-input>
    </div>
    <ion-button [routerLink]="['/dias']">
      Calcular dias vividos en pagina nueva dd/mm/yyyy
    </ion-button>
    <p>Start with Ionic {{usuario.getName()}}
      <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
